/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

code[class*='language-'],
pre[class*='language-'] {
	color: #d6e7ff !important;
	background: #0F1249 !important;
	text-shadow: none;
	font-family: 'IBM Plex Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
	font-size: 1em !important;
	line-height: 1.5 !important;
	letter-spacing: .2px !important;
	white-space: pre !important;
	word-spacing: normal !important;
	word-break: normal !important;
	word-wrap: normal !important;
	text-align: left !important;
	-moz-tab-size: 2 !important;
	-o-tab-size: 2 !important;
	tab-size: 2 !important;

	-webkit-hyphens: none !important;
	-moz-hyphens: none !important;
	-ms-hyphens: none !important;
	hyphens: none !important;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	color: inherit !important;
	background: #0F1249 !important;
	text-shadow: none !important;
}

pre[class*='language-'] {
	border: 1px solid #0F1249 !important;
	border-radius: 1rem !important;
	padding: 1.5em 1.5em !important;
	margin: 1em 0 !important;
	overflow: auto !important;
	box-shadow: var(--primary-box-shadow);
}

:not(pre) > code[class*='language-'] {
	color: #f0f6f6 !important;
	background: #0F1249 !important;
	padding: 0.2em 0.3em !important;
	border-radius: 0.2em !important;
	box-decoration-break: clone !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #474ED9 !important;
}

.token.punctuation {
	color: #FFF600 !important;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #08FFC8 !important;
}

.token.selector,
.token.attr-name,
.token.builtin,
.token.inserted {
	color: #e60067 !important;
}

.token.string,
.token.char {
	color: #49c6ec !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #ec8e01 !important;
	background: transparent !important;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #BC6FF1 !important;
}

.token.function,
.token.class-name {
	color: #14FFEC !important;
}

.token.regex,
.token.important,
.token.variable {
	color: #d6e7ff !important;
}
